{% extends 'partials/base.html' %}

{% block content %}
  <h1 class="text-4xl text-center mt-5">Criar venda</h1>
  {% if message %}
    <h2 class="text-center text-green-500">{{ message }}</h2>
  {% endif %}
  <form class="mt-5 flex flex-col gap-2 max-w-[300px] m-auto" action="" method="post">
    {% csrf_token %}
    <div class="flex w-full gap-2">
      <select id="product_select" onchange="calculateTotal();" class="w-full border p-2" name="product">
        {% for p in products %}
          <option data-price="{{ p.sale_price }}" value="{{ p.id }}">{{ p.name }} - R${{ p.sale_price }}</option>
        {% endfor %}
      </select>
      <input onchange="calculateTotal()" id="product_qty" class="border p-2 w-[50px]" name="qty" type="number" value="1" min="1" />
    </div>
    <h1 class="text-lg text-center">Subtotal: R$<span id="subtotal"></span></h1>
    {% if errors %}
      <div class="list-style-disc text-red-500">{{ errors }}</div>
    {% endif %}
    <button class="bg-green-500 mt-2 py-2 px-4 text-white rounded-md" type="submit">Salvar</button>
  </form>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      calculateTotal()
    })
    
    function calculateTotal() {
      const qty = document.getElementById('product_qty')
      const productSelect = document.getElementById('product_select')
      const [option] = productSelect.selectedOptions
    
      const total = Number(option.getAttribute('data-price')) * Number(qty.value)
    
      const subtotalSpan = document.getElementById('subtotal')
      subtotalSpan.innerText = Number(total).toFixed(2)
    }
  </script>
{% endblock %}
