{% extends 'partials/base.html' %}

{% block content %}
  <h1 class="text-4xl text-center mt-5">Criar venda</h1>
  <form class="mt-5 flex flex-col gap-2 max-w-[300px] m-auto" action="" method="post">
    {% csrf_token %}
    <input class="border p-2" placeholder="Preço de venda" required name="sold_price" type="number" />
    <select id="product_select" class="border p-2" name="product">
      <option value="null" disabled hidden selected>Produto</option>
      {% for p in products %}
        <option value="{{ p.id }}">{{ p.name }}</option>
      {% endfor %}
    </select>
    <select id="manufacturer_select" class="border p-2" name="manufacturer">
      <option value="null" disabled hidden selected>Fabricante</option>
      {% for m in manufacturers %}
        <option value="{{ g.id }}">{{ g.name }}</option>
      {% endfor %}
    </select>
    <select id="group_select" class="border p-2" name="group">
      <option value="null" disabled hidden selected>Grupo</option>
      {% for g in groups %}
        <option value="{{ g.id }}">{{ g.name }}</option>
      {% endfor %}
    </select>
    <select id="sub_group_select" class="border p-2" name="sub_group">
      <option value="null" disabled hidden selected>Subgrupo</option>
      {% for g in groups %}
        <option value="{{ g.id }}">{{ g.name }}</option>
      {% endfor %}
    </select>
    <button class="bg-green-500 mt-2 py-2 px-4 text-white rounded-md" type="submit">Salvar</button>
  </form>
{% endblock %}
