{% extends 'partials/base.html' %}

{% block content %}
  <div class="flex flex-col mt-[200px] gap-2 max-w-[300px] m-auto w-screen items-center">
    <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/dashboard">Dashboard</a>
    <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/product">Produtos</a>
    <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/manufacturer">Fabricantes</a>
    <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/group">Grupos</a>
    <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/sale">Vendas</a>
    {% if user.is_superuser %}
      <a class="border w-[300px] px-4 py-2 rounded-md text-2xl transition-all duration-300 hover:bg-blue-500 hover:text-white text-center" href="/admin/auth/user/">Criar funcionário</a>
    {% endif %}
  </div>
{% endblock %}
